@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #000;
    color: #fff;
    font-family: Inter;
}

.talkd-menu{
    background-color: #001F26;
}

.menu-item li span:hover{
    text-decoration: 1px solid underline;
}

.talkdai-hero{
    margin-top: 110px;
}